<%- include('layout.ejs'); %>
<div class="container">
    <div class="d-flex justify-content-center">
        <h3>Portfolio Value: <%= gain_loss.reduce((tot, ass) => {return tot += Number(ass.current_value)}, 0).toFixed(2) %> USD</h3>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row justify-content-lg-between justify-content-center">
            <% let ctx, myChart; %>
            <% gain_loss.forEach((asset) => { %>
                <div class="card" style="margin-top: 10px;">
                    <div class="card-image-top">
                        <canvas id="<%= asset.refid %>" width="350" height="200"></canvas>
                        <script>
                            new Chart(document.getElementById("<%= asset.refid %>"), {
                                type: 'line',
                                data: {
                                    labels: <%- JSON.stringify(asset.snapshots.map(n => n.as_at.toLocaleTimeString())) %>,
                                    datasets: [
                                        {
                                            label: "Est price (USD)",
                                            data: <%- JSON.stringify(asset.snapshots.map(n => n.current_value)) %>,
                                            backgroundColor: 'rgba(148, 0, 211, 1)',
                                            borderColor: 'rgba(148, 0, 211, 1)',
                                            pointRadius: 0
                                        },
                                    ]
                                },
                                options: {
                                    scales: {
                                        xAxis: {
                                            display: false
                                        },
                                        yAxis: {
                                            display: false
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="card-body" onclick="navigateAsset('<%= asset.refid %>')" style="cursor: pointer;">
                        <h5 class="card-title"><%= asset.bought_asset %> $<%= asset.current_value %> <%= asset.spent_asset %></h5>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
</div>
</div>
</div>


<script>
    function navigateAsset(refid) {
        window.location.pathname = `asset/${refid}`;
    }
</script>
</body>

</html>